.Trends {
    margin-top: -20px;
}

.Trends__list {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.Trends__list::-webkit-scrollbar {
    display: none;
}

.Trends__item {
    min-width: calc(100% / 8.2);
    padding-right: 10px;
    box-sizing: border-box;
}

.Trends__image {
    width: 100%;
    transition: .3s;
    cursor: pointer;
}

.Trends__image:hover {
    transform: scale(1.01);
    opacity: .8;
}

.Trends__title {
    font-size: 24px;
    color: white;
}